absl-py==2.1.0
astunparse==1.6.3
boto3==1.37.5
botocore==1.37.5
branca==0.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
docutils==0.21.2
exif==1.6.1
ExifRead==3.0.0
filelock==3.17.0
filetype==1.2.0
fire==0.7.0
flatbuffers==25.2.10
folium==0.19.5
fonttools==4.56.0
fsspec==2025.2.0
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
gpsphoto==2.2.3
grpcio==1.70.0
h5py==3.13.0
huggingface-hub==0.24.7
idna==3.7
importlib_metadata==8.6.1
importlib_resources==6.5.2
Jinja2==3.1.5
jmespath==1.0.1
jsonpickle==4.0.2
keras==3.8.0
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kivymd==0.104.2
kiwisolver==1.4.7
libclang==18.1.1
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
networkx==3.2.1
numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pexif==0.15
piexif==1.1.3
pillow==11.1.0
plum-py==0.8.7
protobuf==5.29.3
psutil==7.0.0
py-cpuinfo==9.0.0
pybboxes==0.1.6
Pygments==2.19.1
pykml==0.2.0
pyparsing==3.2.1
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
pywin32==308
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
roboflow==1.1.54
s3transfer==0.11.3
sahi==0.8.2
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
shapely==2.0.7
simplekml==1.3.6
six==1.17.0
smmap==5.0.2
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.82
ultralytics-thop==2.0.14
urllib3==1.26.20
Werkzeug==3.1.3
wrapt==1.17.2
xyzservices==2025.1.0
yolov5==7.0.14
zipp==3.21.0
